<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ARDroneWPFTestApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ARDroneWPFTestApplication.Properties.Settings>
            <setting name="MaxAngleAR" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="MinAngleMK" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxVerticalSpeed" serializeAs="String">
                <value>200</value>
            </setting>
        </ARDroneWPFTestApplication.Properties.Settings>
    </userSettings>
</configuration>